.input {
    display: block;
    width: 370px;
    height: 55px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 25px;
    background-color: #F4F4F4;
    border: none;
    outline: none;
    padding: 19px 15px;
  }

  .add_button {
    display: inline-flex;
    height: 55px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #A8B64F;
    padding: 15px 50px;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
  }

  .add_button:hover {
    background-color: #899441;
  }

  form {
    margin-bottom: 25px;
  }