.diagram {
    height: 471px;
    width: 952px;
}

.screen {
    background-color: #F4F4F4;
    position: relative;
    height: 420px;
}

.day_of_week {
    background-color: #ECECEC;
    height: 51px;
    display: flex;
    justify-content: space-between;
    padding-left: 56px;
    padding-right: 165px;
    padding-top: 10px;
}

.day_name {
    width: 77px;
    text-align: center;
    color: #999;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.active_day {
    color: #DC3E22;
    font-weight: 500;
}