.header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.statistic {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    color: #DC3E22;
    align-items: center;
    text-decoration: none;
}

.statistic img {
    margin-right: 9px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #DC3E22;
    text-decoration: none;
}

.logo img {
    margin-right: 12px;
}