.statistic {
    display: grid;
    grid-template-columns: 296px 1fr;
    grid-template-rows: 140px 471px 176px;
    grid-template-areas:
        "upper upper"
        "aside diagram"
        "info info";
    gap: 32px;
}

.upper {
    grid-area: upper;
}

.upper_wrapper {
    display: flex;
    padding-top: 84px;
    align-items: center;
    justify-content: space-between;
}

.diagram {
    grid-area: diagram;
    border: 1px solid red;
    border-color: green;
}

.info {
    grid-area: info;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    font-weight: 700;
}