.header {
    display: flex;
    padding: 15px 80px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px #c4c4c4 ;
  }
  
  .statistic {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    color: #DC3E22;
    align-items: center;
  }
  
  .statistic img {
    margin-right: 9px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #DC3E22;
  }
  
  .logo img {
    margin-right: 12px;
  }